# Ignore a specific file
.gitignore

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
gradle/

# Compiled code and build output
bin/
lib/

# Class files
*.class

# Configurations
.settings/
.classpath
.project

settings.gradle
gradlew
gradlew.bat
gradle.properties
build.gradle
build.sh
